* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    
}

section {
    width: 100%;
    border-bottom: 1px solid #F7F7F7;
}
section:last-of-type {
    border-bottom: none;
}

.header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 15px 10px;
    background-color: #F7F7F7;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header .title-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px 
}

.header .title-logo img {
    width: 70px;
    height: 70px;
}

.menu-button {
    position: fixed;
    top: 30px;
    left: 25px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    color: black;
}

.menu-button:hover {
    opacity: 0.7;
}

.header .title-text {
    color: #666666;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;

}

.navbar {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    padding-top: 50px;
    padding-bottom: 10px;
}

.nav-link {
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #EFBF04;
}

.nav-link.active {
    color: #EFBF04;
    font-weight: 700;
    border-bottom: 3px solid #EFBF04;
}

.search-button {
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.search-button:hover {
    opacity: 0.7;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    left: 23px;
    top: 80px;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.hero {
    position: relative;
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: -50px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) brightness(0.6);
}

.hero-text {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    

}

.intro-text {
    text-align: center;
    max-width: 860px;
    margin: 0 auto 40px auto;
    font-size: 18px;
}

hr.separator {
    border: 0;
    height: 3px;
    background-color: #EFBF04;
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.content-grid, .content-grid-2-col {
    display: grid;
    gap: 40px;
    align-items: start;
}

.content-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.content-grid-2-col {
    grid-template-columns: 1fr 1fr;
    
}

.content-block h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.content-block .bullet-icon2 {
    margin-left: -50px;
}

.icon {
    width: 18px;
    height: 15px;
    background-color: #EFBF04;
    flex-shrink: 0;
}

.content-block p, .content-block ul {
    font-size: 16px;
    
}

.content-block ul {
    list-style: none;
    margin-left: 12px;
    
}
.content-block li {
    margin-bottom: 15px;
    display: flex;
    gap: 12px;

}

.bullet-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.bullet-icon2 {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    flex-shrink: 0;
    
}

.key-info { 
    padding: 30px;
    border-radius: 8px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.image-gallery img {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 5px;
}

#closed-door-judging .hero {
    background-color: #EEEEEE;
    color: black;
}
#closed-door-judging .hero-title, #closed-door-judging .hero-subtitle {
    text-shadow: none;
}
#closed-door-judging .hero img {
    display: none;
}

.footer {
    text-align: center;
    font-weight: 300;
    word-spacing: 2px;
    padding: 25px 20px;
    background-color: #f7f7f7;
    color: #63635D;
    font-size: 14px;
}